/*图片轮播 S*/
.exhibition_hall {
	text-align: center;
	position: relative;
	overflow: hidden;
}

.tline {
	color: #dedede;
}

.roundabout_box img {
	width: 100%;
}

.roundabout_box {
	height: 360px;
	width: 980px;
	margin: 40px auto 30px;
}

.roundabout-holder {
	list-style: none;
	width: 760px;
	height: 360px;
	margin: 0 auto;
}

.roundabout-moveable-item {
	height: 360px;
	width: 760px;
	cursor: pointer;
	background: #f9f9f9;
}

.roundabout-moveable-item img {
	height: 100%;
	width: 100%;
	background-color: #fff;
	margin: 0;
}

.roundabout-in-focus {
	cursor: auto;
	border-left: 1px #fff solid;
	border-right: 1px #fff solid;
}

.roundabout-in-focus000:hover {
	-webkit-box-shadow: 0 0 20px #787878;
	-moz-box-shadow: 0 0 20px #787878;
	background: #f9f9f9;
}

.roundabout-holder .text {
	font-size: 16px;
	color: #999;
}

.roundabout-in-focus000:hover span {
	display: inline;
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 8px 20px;
	background: #f9f9f9;
	color: #36c;
	z-index: 999;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
}

.roundabout a:active, .roundabout a:focus, .roundabout a:visited {
	outline: 0;
	text-decoration: none;
}

.roundabout li {
	margin: 0;
}

/*图片轮播 E*/
.course-wrapper {
	width: 1128px;
	margin: 30px auto;
}

.course {
	overflow: hidden;
}

.course-item {
	float: left;
	height: 226px;
	margin-right: 40px;
	margin-bottom: 40px;
	border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: rgba(7, 17, 27, 0.1) 0px 4px 8px 0px;
	transition: 0.3s all linear;
	position: relative;
	cursor:pointer;
}

.course-item:nth-child(4n) {
	margin-right: 0px;
}

.course-item:hover {
	box-shadow: rgba(7, 17, 27, 0.2) 0px 6px 18px 0px;
}

.course-item>a {
	display: block;
}

.course-pic {
	width: 252px;
	height: 194px;
}

.course-pic img {
	width: 100%;
	height: 100%;
}

.course-author {
	display: block;
	position: absolute;
	bottom: 52px;
	right: 0;
	height: 32px;
	line-height: 32px;
	padding: 0 20px;
	background: #5991d4;
	opacity: .8;
	color: #fff;
	font-size: 14px;
	box-shadow: rgba(7, 17, 27, 0.2) 0px 6px 18px 0px;
	font-size: 12px;
}

.course-label {
	padding: 0 16px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

a.btn {
	display: block;
	width: 140px;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	border-radius: 10px;
	font-size: 18px;
	color: #fff;
	transition: 0.2s all linear;
	background: #5991d4;
	text-align: center;
}

a.btn:hover {
	color: #fff;
	box-shadow: #d8dde1 2px 4px 8px;
}

.mr0 {
	margin-right: 0;
}